body {
  /* background-color: #40514e; */
  margin: 0;
  text-align: center;
  font-family: "merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 150px auto 0 auto;
  font-family: "sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 11px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
  color: #11999e;
  font-size: 20px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
}

.top-container,
p {
  padding: 0, 0, 10px, 0;
}

.middle-container {
  margin: 10px 0;
  background-color: white;
}

.bottom-container {
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30%;
  border-radius: 50%;
}

.montein {
  position: relative;
  top: 5px;
  left: 40px;
}

.profile,
img {
  margin-top: 50px;
}
.ang-img {
  border-radius: 50%;
}
