body {
  background-color: white;
}
.contentPage {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rosybrown;
  box-shadow: 5px 5px 5px 5px #888888;
}
.top-container {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  background-color: white;
  padding: 15px;
  border: 10px solid black;
}
.middle-container {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  padding: 10px;
  border: 20px solid black;
  background-color: red;
  margin-left: 250px;
}
.bottom-container {
  background-color: gold;
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  border: 5px solid black;
  margin-left: 510px;
}
